/*------------------------------------*\
  Elements > Links
\*------------------------------------*/

a {
  color: $color-link;
  text-decoration: none !important;
  transition: $global-transition;

  @include attention() {
    color: #F7D6A4 !important;
    text-decoration: none;
  }
}
